<div class="heroSimple{% if partial.class %} {{partial.class}}{% endif %}">
  <div class="heroSimple__grid grid">
    <div class="heroSimple__content">
      <div class="heroSimple__content__title">{{_(partial.content.title)}}</div>
    </div>
  </div>
</div>
