{% set rs = doc|responsiveStyles %}
<!doctype html>
<html lang="{{doc.locale.replace('_', '-')}}">
  <head>
    <meta charset="utf-8">
    <title>{% if doc.fields.meta.title %}{{_(doc.fields.meta.title)}} - {% endif %}{{pod.podspec.name}}</title>
    {% if doc.fields.meta.description %}
      <meta name="description" content="{{_(doc.fields.meta.description)}}">
    {% endif %}
    <style>{% include "/dist/css/main.min.css" %}</style>
    <script type="module">import('/js/main.esm.js').then(module=>module.main())</script>
  </head>
  <body>
    {% block header %}{% include "/views/partials/header.njk" %}{% endblock %}
    {% block main %}{% endblock %}
    {% if rs.size() > 0 %}<style>{{rs.css()}}</style>{% endif %}
  </body>
</html>
