---
fields:
- id: meta
  type: group
  label: Meta
  fields:
    - id: title
      type: string
      label: Title
    - id: description
      type: string
      label: Description
      help: Optional. The description is used for SEO and social shares. It's not visibily rendered on the page itself.
    - id: image
      type: image
      label: Image
      help: Image used for social shares. Max size: 10MB.
---
TODO
